html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.header {
    font-family: "Nunito";
    font-style: italic;
    font-weight: 800;
    font-size: 30px;
}
.container{
    overflow: hidden;
}

a {
    display: inline-block;
    text-decoration: none
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.title {
    font-family: 'Nunito', sans-serif;
    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.7);
    font-style: italic;
    font-weight: 800;
    font-size: 32px;
    letter-spacing: 0.05em;
    background: white;
    background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: #FF3534;
}

.descr {
    font-family: 'fontForDescr', sans-serif;
    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.7);
    font-style: italic;
    font-weight: 800;
    color: #ffff;
}

.option__descr {
    font-family: 'fontForDescr', sans-serif;
    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.7);
    font-style: italic;
    font-weight: 800;
    color: #ffff;
}

.image {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wave-title {
    text-shadow: 20px 10px 10px rgba(0, 0, 0, 0.7);
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 42px;
    line-height: 57px;
    color: #F4F2E9;

    span {
        font-weight: bold;
        font-size: 70px;
        line-height: 95px;
        align-items: center;
        color: #DD003F;
    }
}